.container{
	overflow:hidden;
	zoom:1;
	min-width:700px;
	padding:20px;
	background-color:#eee;
	border:1px solid #999;
}

.teamName{
	float:left;
	padding:20px;
	margin-right:20px;
	border:1px solid #999;
}

.content{
	overflow:hidden;
	padding:20px;
	border:1px solid #999;
}


.logoContainer{
	float:right;
	margin-left:20px;
	border:1px solid #999;
}

p{
	font-size:15px ;
}

.teamName img{
	width:120px;
	height:120px;
}

.teamName div{
    border:1px solid #999;
    width:120px;
    height:120px;
    display:inline-block;
}

span{
	vertical-align:top;
	font-size:18px;
}

.logoContainer div{
    border:1px solid #999;
    width:80px;
    height:80px;
    margin:20 20 0 20;
}

.logoContainer img{
	width:80px;
	height:80px;
}


