.main-container {
	position: absolute;
	
	top: 0; left: 0; bottom: 0; right: 0;
	
	margin: auto;
	width: 400px;
	height: 200px;
	
	background-color: #ccc;
}

.left-circle {
	float: left;
	
	top: -50px;
	left: -50px;
	
	border-top-left-radius: 100px;
	width: 50px;
	height: 50px;
    
	background-color: #fc0;
	
	transform: rotate(180deg);
}

.right-circle {
	float: right;
	
	margin-top: 150px;
	border-top-left-radius: 100px;
	width: 50px;
	height: 50px;
    
	background-color: #fc0;
	
	clip: rect(0px,50px,50px,0px);
}
