body {
	margin:0;
	
	background-color: #AAA;
}

/* 导航 */
.navigation-bar {
	width: 100%;
	height: 60px;
	
	background-color: #444;
}

.navigation-bar img {
	width: 60px;
	height: 60px; 
}

.navigation-content {
	float:right;
	
	margin: 20px 20px;
	
	font-size: 15px;
}

.navigation-content a {
		text-decoration: none;
		
		color: #FFF;
}

/* 左侧内容与侧栏的wrap */
.wrap {
	position: relative;
	
	min-width: 630px;
}

/* 左侧内容 */

.left-container {
	margin-right: 365px;
	min-width: 235px
}

.left-column {
	margin: 15px;
	padding: 10px;
	
	background-color: #FFF;
}

.left-column h1 {
	font-size: 20px;
}

.left-column h2 {
	font-size: 15px;
	
	color: #666;
}

.left-column p {  
	margin: 0;
	
	line-height: 2em;
}

.left-column a {
   	font-size: 16px;
    text-decoration:none;
    
    color: #AAA;
}

.left-column img {
	width: 150px;
	height: 150px;
}

ul {
	padding-left: 5px;

    list-style:none;
}

span {
	display: block;
	
	text-align: center;
}

.img-wrap {
	display: inline-block;
	
	border: 1px solid #AAA;
}

.img-wrap img {
	width: 100px;
	height: 100px; 
}

table {
	border-collapse: collapse;
}

table tr td,th {
	border: 1px solid #000;
	width: 500px;
	
	font-size: 15px;
	text-align: center;
	
	background-color: #DDD;
	
}

th {
	background-color: #AAA;
}

/* 侧栏 */
.side-bar {
	position: absolute;

	width: 350px;
	height: 500px;
	
	top: 0;
	right: 15px;

	text-align: center;
	
	background-color: #FFF;
}

.side-bar h1 {
	font-size: 18px;
}

.side-bar p {
	line-height: 1em;
}

.style {
	display: block;

	margin-left:100px;

	font-size: 12px; color: #AAA;
} /* 邮箱、密码说明字体样式 */

label {
	font-size: 12px;
}

textarea {
	width: 200px;
	height: 100px;
	
	font-size: 15px;
	vertical-align: top
}

.submit {
	margin-top: 15px;
	border: none;
	border-radius: 10px;
	width: 200px;
	height: 30px;
	
	font-size: 12px;
	
	color: #FFF;
	background-color: #00F;
}


/* 版权所有 */
.footer {
	width: 100%;
	height: 30px;
	
	text-align: center;

	color: #FFF;
	background-color: #000;
}




